

/* rotating images =============================================== */
/* body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: black;
    overflow-x: hidden;
    padding-top: 300px;

}

.image-container{
    width: 200px;
    height: 200px;
    transform-style:preserve-3d;
    transform: perspective(1000px) rotateY(0deg);
    transition: transform 0.9s;
}
.image-container span{
    position: absolute;
    top: 0px;
    left: 0;
    transform: rotateY(calc(var(--i)*45deg))translateZ(300px);
}
.image-container span img{
 
    left: 0;
    top: 0;
    width: 100%;
}
.btn:hover

.btn{
    position: absolute;
    bottom: 0;
}
button{
    background-color: rgb(199, 134, 176);
    padding: 20px;
    border-radius: 7px;
    cursor: pointer;
    position:relative;
    border: none;
    font-size: 18px;
    color:white;

}


#prev{
    left: -20%;
}

#next{
    right: -100%;
} */



/* ===============   calculator=================================== */

/* .container{
    position: absolute;
    width: max-content;
    background-color: rgb(10, 120, 120);
    padding: 30px;
    border-radius: 10px;
    color: white;
    padding-bottom: 40px;
    justify-content: center;

}


input{
    width: 100%;
    height: 30px;
} */



/*  ====================  sticky nav bar ============================ */

/* 
body
{
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}
.navbar
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: rgb(231, 233, 232);
}
.navbar div ul
{
    display: flex;
    flex-flow: row;
    list-style-type:none;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    
}
.navbar ul li
{
   padding-right: 20px;
}
.main
{
    background: url('https://picsum.photos/id/26/200/300');
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    background-position: center;
}
.main h1
{
    color: rgb(242, 242, 242);
    text-align: center;
    padding: 90px;
    font-style: italic;
}
.datapart
{
    line-height: 2;
    font-style: italic;
} */