body{
    text-align: center;
    background-color: green;
}
button{
    padding: 10px 40px;
    background-color: red;
    /* border: none; */
    font-size: 30px;
}
h1{
    color: goldenrod;
}
p{
    color: white;
    font-size: 20px;
}
.message{
    font-style: italic;
}
.btn{
    color: green;
    background-color: rgb(250, 250, 5);
    border: 1px solid yellow;
    border-radius: 10px;
}



